<br>
<fieldset>
    <legend>Add or Remove a course</legend>
    <br>
    <form action='' method='POST'>
        <input class='textfield' type='text' placeholder='The ISBN goes here...' name='ISBNinput'>
        <input class='flatButton' type='submit' value='Add book' name='action'>
        <input class="flatButton" type="submit" value="Remove book" name="action">
    </form>
</fieldset>