<br>
                <fieldset>
                    <Legend>Add or Remove a user</Legend>
                    <br>
                    <form action='' method='POST'>
                        <input class='textfield' type='text' placeholder='First name' name='firstname'>
                        <input class='textfield' type='text' placeholder='Surname' name='surname'>
                        <input class='textfield' type='text' placeholder='Staff ID' name='staffid'>
                        <input class='textfield' type='text' placeholder='Email' name='email'>
                        <br>
                        <input class='flatButton' type='submit' value='Add user' name='action'>
                        <input class='flatButton' type='submit' value='Add admin' name='action'>
                        <input class="flatButton" type="submit" value="Remove user" name="action">
                    </form>
                </fieldset>
