<header>
    <h1>Attendance Tracker v1.1</h1>
</header>
<p>Thanks for installing Attendance Tracker! Click a button above to start, or click <a href='https://gitlab.com/Ninja243/AttendanceTracker'>here</a> for more information.</p>
