<br>
                <fieldset>
                    <Legend>Log In</legend>
                    <br>
                    <form action='' method='POST'>
                        <input class='textfield' type='text' placeholder='Staff/Student ID' name='username'>
                        <input class='textfield' type='password' placeholder='Password' name='password'>
                        <input class='flatButton' type='submit' value='Log In'>
                    </form>
                </fieldset>
