body {
    font-family: 'RopaSoftPro-Regular', sans-serif;
    max-width: 85%;
    margin: auto;
}

.rightli {
    float: right;
}

.admin {
    color: #096409;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b2c5d;
    margin-top: 1%;
}

.innerwrapper {
    margin: 1%;
}

ul {
    /*position: absolute;*/
    top: 0;
    width: 100%;
    left: 0;
    margin-bottom: 2%;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.stealthLink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal a:hover {
    color: #fcaf17;
    background-color: #041546;
}

.flatButton {
    background-color: #1b2c5d;
    color: white;
    display: inline-block;
}

.spanButton {
    background-color: #1b2c5d;
    color: white;
    padding: 1%;
    margin-top: 5%;
    display: block;
    text-align: center;
}

input {
    display: inline-block;
}

.spanButton:active {
    background-color: #041546;
}

.flatButton:hover {
    background-color: #1b2c5d;
}

.flatButton:active{
    background-color: #041546;
}

footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 0;
}

footer a {
    float: right;
    text-decoration: none;
    color: black;
}

.thumbnail {
    float: left;
    max-width: 40%;
    min-width: 40%;
    object-fit: contain;
}

section {
    float: right;
    max-width: 40%;
}

.wrapper {
    margin:auto;
}

.image {
    width:100%;
    height:100%;
}

.books {
    color: blue;
    text-decoration: none;
}

.books:hover{
    text-decoration: underline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

h3 a {
    color: black;
    text-decoration: none;
}

.bimage {
	width: 100%;
}

.book_text {
	bottom: 0;
	position: sticky;
	background: rgba(255,255,255,0.6);
}

.book {
	padding: 2%;
	max-width: 25vh;
	max-height: 25vh;
	overflow: hidden;
	display: inline-block;
}

.books_wrapper {
	margin: auto;
}

a {
	outline: 0;
}

/* The next bit closes of the HTML before the style tag. */
        </style>
    </head>
