<br>
                <fieldset>
                    <Legend>Add course</legend>
                    <br>
                    <form action='' method='POST'>
                        <input class='textfield' type='text' placeholder='Course code' name='courseCode'>
                        <input class='textfield' type='text' placeholder='Course name' name='courseName'>
			<input class='textfield' type='text' placeholder='Lecturer' name='lecturer'>
			<input type="hidden" name="type" value="Course">
                        <input class='flatButton' type='submit' value='Add Course'>
                    </form>
                </fieldset>
		<fieldset>
                    <Legend>Add Student</legend>
                    <br>
                    <form action='' method='POST'>
                        <input class='textfield' type='text' placeholder='First name' name='firstname'>
                        <input class='textfield' type='text' placeholder='Last name' name='lastname'>
                        <input class='textfield' type='password' placeholder='Password' name='password'>
                        <input type="hidden" name="type" value="Student">
                        <input class='flatButton' type='submit' value='Add Student'>
                    </form>
                </fieldset>
		<fieldset>
                    <Legend>Add Staff Member</legend>
                    <br>
                    <form action='' method='POST'>
                        <input class='textfield' type='text' placeholder='First name' name='firstname'>
                        <input class='textfield' type='text' placeholder='Last name' name='lastname'>
                        <input class='textfield' type='password' placeholder='Password' name='password'>
                        <input type="hidden" name="type" value="Staff">
                        <input class='flatButton' type='submit' value='Add Staff'>
                    </form>
                </fieldset>


