<br>
                <fieldset>
                    <Legend>Mark Attendance</legend>
                    <br>
                    <form action='' method='POST'>
                        <input class='textfield' type='text' placeholder='Course Code' name='courseCode'>
                        <input class='textfield' type='text' placeholder='Student Number' name='studentNumber'>
			<input class='textfield' type='password' placeholder='classNumber' name='classNumber'>
                        <input class='flatButton' type='submit' value='Mark'>
                    </form>
                </fieldset>
