<body>
    <div class="wrapper">
    <nav>
            <ul class="horizontal">
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/students">Students</a></li>
		    <li><a href="/staff">Staff</a></li>
                    <li><a href="/courses">Courses</a></li>
