<br>
                <fieldset>
                    <legend>
                        Transfer Book
                    </legend>
                    <form action='' method='POST'>
                        <input class='textfield' type='text' placeholder='ISBN' name='ISBN'>
                    <br>
                        <input class='textfield' type='text' placeholder='From (Staff ID)' name='staffida'>
                    <br>
                        <input class='textfield' type='text' placeholder='To (Staff ID)' name='staffidb'>
                        <br>
                        <input class='flatButton' type='submit' value='Request transfer'>
                    </form>
                </fieldset>
