
<br>
<a href="/add_user" style="float:right; text-decoration: none;"><span class="spanButton">Add a regular user</span></a>
<a href="/add_admin" style="float:left; text-decoration: none;"><span class="spanButton">Add an administrator</span></a>